@import '../../../variables.css';

.searchBar {
  display: flex;
  width: 100%;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 3.5);
  padding-block: calc(var(--spacing) * 1);
  font-size: var(--text-base);
  color: var(--color-black);
  line-height: var(--text-base--line-height);
}

.searchBar::placeholder {
  color: var(--color-gray-500);
}

@media (width >=40rem) {
  .searchBar {
    width: auto;
    flex: 0.25;
  }
}