@import '../../variables.css';

.newsletterOuterContainer {
  position: relative;
  overflow: hidden;
  padding-block: calc(var(--spacing) * 10) calc(var(--spacing) * 6);
  border-top: 1px solid var(--color-gray-200);
}

.newsletterInnerContainer {
  margin-inline: auto;
  max-width: var(--container-7xl);
  padding-inline: calc(var(--spacing) * 4);
}

.newsletterInnerWrapper {
  margin-inline: auto;
  display: grid;
  max-width: var(--container-2xl);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: calc(var(--spacing) * 8);
  row-gap: calc(var(--spacing) * 16);
}

.newsletterFormWrapper {
  max-width: var(--container-xl);
}

.newsletterFormWrapper h2 {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-900);
  letter-spacing: var(--tracking-tight);
  line-height: var(--text-4xl--line-height);
}

.newsletterFormWrapper p:nth-child(2) {
  margin-top: calc(var(--spacing) * 4);
  font-size: var(--text-lg);
  color: var(--color-gray-600);
  line-height: var(--text-lg--line-height);
}

.subscribeSectionContainer {
  margin-top: calc(var(--spacing) * 6);
  display: flex;
  flex-direction: column;
  max-width: var(--container-md);
  row-gap: calc(var(--spacing) * 3);
}

.subscribeSectionContainer input {
  display: flex;
  flex: auto;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 3.5);
  padding-block: calc(var(--spacing) * 2);
  font-size: var(--text-base);
  color: var(--color-black);
  line-height: var(--text-base--line-height);
}

.subscribeSectionContainer input::placeholder {
  color: var(--color-gray-500);
}

.subscribeSectionContainer button[type="submit"] {
  cursor: pointer;
  flex: none;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  background-color: var(--clr-green-accent);
  color: var(--color-white);
  padding-inline: calc(var(--spacing) * 3.5);
  padding-block: calc(var(--spacing) * 2.5);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  max-width: 7em;
}

.subscribeSectionContainer button[type="submit"]:hover {
  background-color: var(--clr-green-accent-hover);
}

.newsletterDetails {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: calc(var(--spacing) * 10);
  column-gap: calc(var(--spacing) * 8);
}

.newsletterDetailsItem {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.newsletterIconWrapper {
  border-radius: var(--radius-md);
  background-color: var(--color-gray-700);
  padding: calc(var(--spacing) * 2);
}

.newsletterDetails svg {
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
  color: var(--color-gray-600);
}

.newsletterDetails dt {
  color: var(--color-gray-700);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  margin-top: calc(var(--spacing) * 4);
}

.newsletterDetails dd {
  color: var(--color-gray-500);
  font-size: var(--text-base);
  line-height: calc(var(--spacing) * 7);
  margin-top: calc(var(--spacing) * 2);
}

@media (width >=40rem) {
  .newsletterOuterContainer {
    padding-block: calc(var(--spacing) * 14);
  }

  .subscribeSectionContainer {
    flex-direction: row;
    row-gap: initial;
    column-gap: calc(var(--spacing) * 4);
  }

  .subscribeSectionContainer input {
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
  }

  .subscribeSectionContainer button[type="submit"] {
    width: auto;
  }

  .newsletterDetails {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >=64rem) {
  .newsletterOuterContainer {
    padding-block: calc(var(--spacing) * 24);
  }

  .newsletterInnerContainer {
    padding-block: calc(var(--spacing) * 8);
  }

  .newsletterInnerWrapper {
    max-width: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .newsletterFormWrapper {
    max-width: var(--container-lg);
  }

  .newsletterDetails {
    padding-top: calc(var(--spacing) * 2);
  }
}