@import '../../variables.css';

.faqListItem {
  margin-bottom: calc(var(--spacing) * 5);
}

.faqQuestionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faqQuestionWrapper h2 {
  font-size: var(--text-md);
  line-height: var(--text-md--line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-tight);
  color: var(--color-gray-900);
  padding-right: calc(var(--spacing) * 4);
}

.faqExpandBtn {
  color: var(--color-white);
  background-color: var(--clr-green-accent);
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.faqExpandBtn span {
  position: relative;
  bottom: calc(var(--spacing) * 0.25);
}

.faqAnswerContent {
  margin-top: calc(var(--spacing) * 4);
}

@media (width >=40rem) {
  .faqQuestionWrapper h2 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
}