@import '../../variables.css';

.productFilterWrapper {
  display: flex;
  row-gap: calc(var(--spacing) * 3);
  flex-direction: column;
  align-items: flex-end;
}

.productFilterInnerWrapper {
  display: flex;
  column-gap: calc(var(--spacing) * 2);
}

@media (width >=40rem) {
  .productFilterWrapper {
    row-gap: initial;
    column-gap: calc(var(--spacing) * 2);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}