/** Variables Import **/
@import url('./variables.css');

/**
 * CSS Reset
 * Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Global CSS **/
.toast-wrapper {
  display: flex;
  justify-content: center;
}

.toast {
  display: flex;
  column-gap: calc(var(--spacing) * 2);
  align-items: center;
  width: var(--container-sm);
  justify-content: center;
  margin-top: 1em;
  height: 40px;
  background-color: var(--color-white);
  color: var(--clr-green-accent);
  position: fixed;
  top: -80px;
  transition: top 0.5s;
  z-index: 99;
  border-radius: var(--radius-md);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) *4);
  font-weight: var(--font-weight-semibold);
  border: 1px solid var(--clr-green-accent);
}

.toast svg {
  width: 20px;
  height: auto;
  fill: var(--clr-green-accent);
}

.home-container {
  background-color: var(--color-white);
  position: relative;
  padding-bottom: 5em;
}

.main-container {
  position: relative;
  padding-top: calc(var(--spacing) * 14);
  padding-inline: calc(var(--spacing) * 6);
}

@media (width >=64rem) {
  .main-container {
    padding-inline: calc(var(--spacing) * 8);
  }
}