@import '../../variables.css';

.navContainer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacing) * 6);
}

.logoWrapper {
  display: flex;
}

.logoWrapper button {
  padding: calc(var(--spacing) * 1.5);
  margin: calc(var(--spacing) * -1.5);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--color-gray-900);
}

.logoWrapper svg {
  width: auto;
  height: calc(var(--spacing) * 8);
}

.hamburgerIconWrapper {
  display: flex;
}

.hamburgerIconWrapper svg {
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
}

.hamburgerIconWrapper button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-700);
  margin: calc(var(--spacing) * -2.5);
  padding: calc(var(--spacing) * 2.5);
  border-radius: var(--radius-md);
  background: transparent;
  border-color: transparent;
}

.menuLarge {
  display: none;
}

.mainNavWrapper {
  display: flex;
}

.cartIconWrapper {
  margin-left: calc(var(--spacing) * 4);
}

.cartIconWrapper button {
  background: transparent;
  border: 1px solid transparent;
}

.cartIconWrapper a {
  padding: calc(var(--spacing) * 2);
  align-items: center;
  display: flex;
  margin: calc(var(--spacing) * -2);
}

.cartIconWrapper svg {
  color: var(--color-gray-400);
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
  display: block;
  cursor: pointer;
}

.cartIconWrapper svg:hover {
  color: var(--color-gray-500);
}

.cartIconWrapper span {
  color: var(--color-gray-700);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  margin-left: calc(var(--spacing) * 2);
}

.cartIconWrapper span:hover {
  color: var(--color-gray-800);
}

@media (width >=64rem) {
  .navContainer nav {
    padding-inline: calc(var(--spacing) * 8);
  }

  .hamburgerIconWrapper {
    display: none;
  }

  .menuLarge {
    display: flex;
    column-gap: calc(var(--spacing) * 12);
    margin-left: 3em;
  }

  .menuLarge button {
    cursor: pointer;
    color: var(--color-gray-900);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
    background: transparent;
    border: 1px solid transparent;
  }

  .menuLarge button:hover {
    color: var(--color-gray-500);
  }

  .cartIconWrapper {
    margin-left: calc(var(--spacing) * 6);
  }
}